<footer class="site-footer">
  <h3 class="site-footer-title"><a href="http://RulesForRobots.com/">Rules for Robots</a></h3>
  <p class="site-footer-by-line">by <span class="site-footer-author"><a href="/about/">Greg Hemphill</a></span></p>
  <p>✭<i class="site-footer-middle-star">✭</i>✭</p>
  <nav>
    <ul>
      <li><a href="http://webstop.com/">VP of IT at Webstop</a></li>
      <li><a href="http://twitter.com/Agent_G">@Agent_G on Twitter</a></li>
      <li><a href="http://github.com/hemphill">Hemphill at GitHub</a></li>
      <li><a href="http://instagram.com/greghemphill">GregHemphill in Instagram</a></li>
      <li><a href="https://www.facebook.com/greghemphill">GregHemphill on FaceBook</a></li>
      <!--<li><a href="https://www.flickr.com/photos/28447323@N07/">MrGHemp on Flickr</a></li>-->
      <!--<li><a href="https://foursquare.com/user/116334">Stalk me on Foursquare</a></li>-->
      <!--<li><a href="http://agentg.tumblr.com/">AgentG on Tumblr</a></li>-->
    </ul>
  </nav>
  <p>✭<i class="site-footer-middle-star">✭</i>✭</p>
</footer>
