/* Footer
   ------ */

.site-footer {
  margin: 0;
  padding: 20px;
  border-top: 1px solid #036;
  background: #4a525a; /* color choice is a homage to daringfireball.net */
  text-align: center;

  .site-footer-title {
    margin-bottom: 0;
  }

  .site-footer-middle-star {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-footer-author {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .site-footer-by-line {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'LibreBaskervilleItalic', 'Georgia Pro', georgia, serif;
    font-size: 1.4rem;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 20px;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  a,
  p {
    color: #999;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #9cf;
    text-decoration: underline;
  }


}
